:root {
  --bg-color: #d0cece;
  --navfoo-bg-color: #002b5b;
  background-color: var(--bg-color);
  opacity: 0.96;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Tw-Cen-MT";
  src: url("../fonts/Tw_Cen_MT_Condensed_Extra_Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  background-color: var(--navfoo-bg-color);
  font-family: "Tw-Cen-MT", sans-serif;
  font-size: 20px;
}

.navbar-toggler-icon {
  background-image: url("https://res.cloudinary.com/dz6zf3yio/image/upload/v1725433462/hamburger-menu-svgrepo-com_zby8hm.svg");
}

.logo {
  height: 60px;
}

.navbar-toggler {
  border-color: white;
}

#welcome-message{
  color: white;
  font-size: 25px;
  font-family: "Tw-Cen-MT", sans-serif;
}

#user-logged {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

#user-logout{
  width: 40px;
  height: 40px;
}

#log-out-btn{
  background-color: transparent;
  border: none;
}

.navbar-nav a {
  color: white;
  text-decoration: none;
  margin-left: 50px;
}

.options a {
  background-color: var(--navfoo-bg-color);
  border-radius: 20px;
  text-decoration: none;
  color: white;
}

.nav-link.active {
  background-color: white;
  color: #002b5b !important;
}

.options a:hover {
  background-color: white;
  color: var(--navfoo-bg-color);
  border-radius: 20px;
}

footer {
  background-color: #002b5b;
  color: white;
  padding: 0px;
  padding-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  font-family: "Poppins";
  font-size: 12px;
}

footer h2 {
  background-color: gray;
  font-size: 35px;
  position: relative;
  bottom: 20px;
  padding: 5px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.contact-info,
.company-info,
.subscribe-section {
  color: white;
  margin-bottom: 20px;
}

.contact-info a {
  color: white;
  text-decoration: none;
}

.subscribe-section form {
  display: ruby;
  align-items: flex-start;
  text-align: center;
  justify-content: end;
}

footer h3 {
  text-align: center;
  font-size: 25;
}

.contact-info img,
.company-info img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  align-items: flex-start;
  text-align: center;
  position: relative;
  object-fit: contain;
}

.contact-info a{
  margin-left: 0px;
}

.subscribe-section #ipt-email {
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
}

#ipt-consent-checkbox{
  width: 25px;
  height: 25px;
}
.subscribe-section h3 {
  font-size: 23px;
}

.company-info input {
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
}

.checkbox-container {
  display: flex;
  margin-bottom: 10px;
}

.checkbox-container input {
  margin-right: 10px;
}

.checkbox-container label {
  font-size: 12px;
}

#subscribeBtn:disabled{
  cursor: auto;
}

footer button {
  padding: 5px 10px;
  background-color: #e08f0c;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  width: 30%;
}

.terms-conditions{
  margin-left: 20px;
  margin-right: 20px;
}

.terms-conditions a{
  color: #e08f0c;
  font-size: 15px;
  font-weight: bolder;
}

.terms-conditions a:hover{
  scale: 1.05;
  color: #d0cece;
  transition: 0.2s;
}

@media (min-width: 400px) {
  .navbar-nav .nav-link {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
  }
}
@media (max-width: 1500px) {
  /* .footer-container {
    flex-direction: column;
  } */
}