:root{
    --bg-color: #D0CECE;
    --navfoo-bg-color: #002B5B;
    background-color: var(--bg-color);
    opacity: 0.96;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Tw-Cen-MT';
    src: url('../fonts/Tw_Cen_MT_Condensed_Extra_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Tw-Cen-MT', sans-serif;
    background-color: #e1e1e1;
    color: #333;
}


/* Sección del formulario */
main {
    display: flex;
    justify-content: space-between;  /* Centramos los elementos */
    align-items: flex-start; /* Alineamos verticalmente */
    padding: 20px;
    gap: 20px;
}


.form-section {
/*   
    background-color: #002B5B; 
    padding: 40px 60px;
    border-radius: 20px; 
    width: 45%;
    color: #FFC300; 
    text-align: center; 
    font-family: 'Arial', sans-serif; */
    background-color: #002B5B; /* Color de fondo de la sección del formulario */
    padding: 20px;
    border-radius: 20px;
    width: 50%;  /* Ancho más reducido para ajustarse a la nueva disposición */
    color: #ffffff;
    display: grid; /* Utiliza CSS Grid */
    font-family: 'Poppins';
    font-size: 28px;
    grid-template-columns: 1fr; /* Cambia a una columna para diseño compacto */
    gap: 15px;
    align-items: center;
    overflow: hidden;

}


/* Estilos del formulario */
#alertaVehiculos{
    font-size: small;
}
 
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    
} 

select {
    align-items: end;
    width: 100%; 
    font-size: 0.7em; 
    margin-bottom: 1em; 
    padding: 0.5em; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    margin-bottom: 1em;
    float: left;
}
.pares{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: left;
    
}
.form-group {
    /* margin-right: 0;  
    margin-left: 0;
    width: 80%; */
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%; 
    box-sizing: border-box;
  margin-bottom: 20px;
  text-align: left;
  margin-right: 100px;
}


label {
    /* flex: 1;
     background-color: #F1D6EB; 
    padding:5px 15px;
    border-radius:20px 0 0 20px;
    color: #002B5B;
    font-family: 'Tw-Cen-MT', sans-serif;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    line-height: 1.2;
    margin: 0; */
    color: #FFFFFF; 
    font-size: 17px;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

.labelContainer {
    display: flex;
    align-items: center;
    margin-bottom: 5px; 
  }
  
  .labelContainer img.icon {
    width: 30px; 
    height: auto;
    margin-right: 8px; 
  }

 #image{
    color: #FFFFFF; 
    font-size: 17px;
     /* margin-right: 100px;
    margin-bottom: 5px;  */
    margin: 20px 0;
    display: block;
    padding-left: 100px;
    text-align: center;
    width: 100%;
} 
input[type="text"],  input[type="number"],input[type="tel"],textarea {
    border-radius: 5px;
    color: #FFFFFF;
    font-size: medium;
    background: rgb(0, 32, 68);
    border-style: solid;
    border-width: 3px;
    width: 100%;
    margin-bottom: 10px;
    /* height: 30px;
    margin: 0 auto; */
    padding: 10px;
    text-align: left;
}
.drescripcion {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin: 20px 0;
    width: 100%; 
}
  
.terms a {
    color: #FFFFFF;
}

input[type="file"] {
    /* opacity: 0; 
    position: absolute;
    z-index: -1;
    flex: 2;
    width: 100%;
    max-width: 100%;
    padding: 10px;
     margin-left: 10px;
    margin-bottom: 10px; 
    font-size: 14px;
    outline: none;
    box-sizing: border-box; */
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%; 
    
}

.custom-file-upload {
    display: flex; 
    justify-content: center; 
    align-items: center; 
     padding: 20px; 
    background-color: #002B5B; 
    color: white; 
    border-radius: 25px; 
    cursor: pointer; 
    width: 300px; 
    max-width: 300px;
    
    margin-left: 100px;
}

.upload-icon {
    width: 200px; 
    height: 80px; 
    margin-right: 8px; 
    padding-left: 100px;
}

#carouselExample {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%; 
  }
#imageContainer{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%; 
}
  
/*Icono de Upload File*/
.custom-file-upload {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 15px;
    background-color: #002B5B; 
    color: white; 
    border-radius: 25px; 
    cursor: pointer; 
    width: 100%; 
    max-width: 400px; 
    height: auto; 
    margin: 0 auto; 
}

.upload-icon {
    width: 100%; 
    height: 40px;
   max-height: 50px;
   object-fit: contain;
}

.custom-file-upload:hover {
    background-color: #002B5B;
}

/* Ocupa todo el ancho del grid para textarea */
textarea {
    width: 100%;
}

.terms-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 15px; 
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.terms {
    display: flex;
    /* flex-direction: column;
    align-items: center; */
   flex-direction: row;
   justify-content: center;
   align-items: center;
   /* margin-top: 15px; */
   margin-bottom: 10px;
    
  }
  
  .terms input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .terms label {
    margin-right: 15px;
    font-size: 12px;
  }

button {
    /* background-color: #FFB82B; 
    color: white;
    padding: 8px 16px;
    text-align: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Tw-Cen-MT', sans-serif;
    font-size: 14px;
   margin: 20px auto;
    width: 30%; 
    display: block; */
    background-color: #FFB82B; 
    color: white;
    padding: 8px 16px;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Tw-Cen-MT', sans-serif;
    font-size: 14px;
    margin-top: 20px; 
    width: 30%; 
    margin: 10px auto 0;
    display: block; 
}

/* Sección de vista previa */
.preview-section {
    gap: 20px;
    padding: 20px;
    background-color:  #002B5B; 
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 40%;
    color:#ffffff;
    align-self: flex-start;
}

.preview-section img {
    max-width: 100%;
}

.preview-section ul {
    list-style: none;
    color: #ffffff;
    padding: 0;
}
.preview-section h3 {
    color: #FFB82B;
   
}
.preview-section p {
    color: #FFB82B;
    font-size: 14px;
}
.swal2-styled{
width: 67px ;

@media (max-width: 1070px) {
    main {
        flex-direction: column;
        padding: 10px;
        align-items: center; /*cambio*/
        justify-content: center;/*cambio*/
    }

    .form-section{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* margin-bottom: 20px; */
        max-width: 500px; /* Establece un ancho máximo para centrar */
        margin: 0 auto; /* Centra el contenedor del formulario horizontalmente */
        align-items: center;/*cambio*/
    }

 .preview-section {
        width: 100%;
        max-width: 500px; /* Establece un ancho máximo para centrar */
        margin: 0 auto;/*cambio*/
        margin-bottom: 20px;
        align-items: center;/*cambio*/
    }
    .pares{
        align-items: center;
        margin: 20px 0;
        width: 100%;
        display: block;
    }
    .form-group {
        display:flex;
        flex-direction: column;
        /* justify-content: flex-start; */
         width: 100%; 
        align-items: center; 
        margin-bottom: 20px;
    }

    label {
        margin-bottom: 10px;
        /* align-items: center; 
        padding: 10px 0;*/
        width: 100%; 
        text-align: center;
    }

    input[type="text"], input[type="number"], input[type="tel"], textarea {
        margin-bottom: 10px;
        width: 100%; 
        padding: 10px;
        
    }

    .custom-file-upload {
        width: 100%; 
        text-align: center; 
        margin-bottom: 20px;
    }

    button {
        width: 100%; 
    }

    .icon {
        width: auto; 
        margin-right: 10px; 
    }

    .preview-section {
        order: 2; /* Mueve la vista previa abajo en pantallas pequeñas */
        width: 100%;
    }

    /* Asegúrate de que el contenido de la vista previa también sea flexible */
    .preview-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Evitar desbordamientos */
    .form-container, .preview-container {
        width: 100%;
        padding: 0;
        overflow: hidden; /* Evita que el contenido se salga */
    }
}