:root{
    --bg-color: #D0CECE;
    --navfoo-bg-color: #002B5B;
    background-color: var(--bg-color);
    opacity: 0.96;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Tw-Cen-MT';
    src: url('../fonts/Tw_Cen_MT_Condensed_Extra_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Tw-Cen-MT', sans-serif;
    background-color:#D0CECE;
    /* color: #333; */
}


/* Sección del formulario */
main {
    display: flex;
    justify-content: center;  
    align-items: flex-start; 
    padding: 20px;
    gap: 40px;
    height: max-content;
}

.form-section {
/*   
    background-color: #002B5B; 
    padding: 40px 60px;
    border-radius: 20px; 
    width: 45%;
    color: #FFC300; 
    text-align: center; 
    font-family: 'Arial', sans-serif; */
    background-color: #002B5B; 
    padding: 20px;
    border-radius: 20px;
    width: 50%;  
    color: #ffffff;
    display: grid; 
    font-family: 'Poppins';
    font-size: 28px;
    grid-template-columns: 1fr; 
    gap: 15px;
    align-items: center;
    overflow: hidden;

}


/* Estilos del formulario */
#alertaVehiculos{
    font-size: small;
}
 
#formulario form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    
} 

select {
    align-items: end;
    width: 100%; 
    font-size: 0.7em; 
    margin-bottom: 10px; 
    padding: 0.5em; 
    border: 3px solid #7b7b7b;
    border-radius: 4px; 
    margin-bottom: 10px;
    float: left;
}

.pares{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: left;
    
}
.form-group {
    /* margin-right: 0;  
    margin-left: 0;
    width: 80%; */
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%; 
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: left;
    margin: auto;
}


#formulario label {
    /* flex: 1;
     background-color: #F1D6EB; 
    padding:5px 15px;
    border-radius:20px 0 0 20px;
    color: #002B5B;
    font-family: 'Tw-Cen-MT', sans-serif;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    line-height: 1.2;
    margin: 0; */
    color: #FFFFFF; 
    font-size: 17px;
    display: block;
}

.labelContainer {
    display: flex;
    align-items: center;
    margin-bottom: 5px; 
  }
  
  .labelContainer img.icon {
    width: 30px; 
    height: auto;
    margin-right: 8px; 
  }

 #image{
    color: #FFFFFF; 
    font-size: 17px;
    margin: 20px 0;
    padding: 0px;
    display: block;
    text-align: center;
    width: 100%;
} 
input[type="text"],  input[type="number"],input[type="tel"],textarea {
    border-radius: 5px;
    color: #FFFFFF;
    font-size: medium;
    background: #002044;
    border: 3px solid #7b7b7b;
    width: 100%;
    margin-bottom: 10px;
    /* height: 30px;
    margin: 0 auto; */
    padding: 10px;
    text-align: left;
}

#tipo{
    height: 48.8px;
    color: white;
    background: rgb(0, 32, 68);
}

/* #prop-label{
    text-wrap: nowrap;
} */

#upload-widget{
    width: 70%;
}

.drescripcion {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin: 20px 0;
    width: 100%; 
}
  
.terms a {
    color: #FFFFFF;
}

input[type="file"] {
    /* opacity: 0; 
    position: absolute;
    z-index: -1;
    flex: 2;
    width: 100%;
    max-width: 100%;
    padding: 10px;
     margin-left: 10px;
    margin-bottom: 10px; 
    font-size: 14px;
    outline: none;
    box-sizing: border-box; */
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%; 
    
}

#upload-container-cd{
    margin-bottom: 0px;
}

.custom-file-upload {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #002B5B; 
    color: white; 
    border-radius: 25px; 
    cursor: pointer; 
    width: 100%; 
}

.custom-file-upload img{
    padding: 0;
    margin: auto;
}

#img-placeholder{
    max-width: 400px;
    max-height: 400px;
    margin-top: 10px;
    
}

#uploadedimage{
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
    border: 3px solid white;
}

#image{
    text-align: center;
    margin: auto;
}

#carouselExample {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%; 
  }
#imageContainer{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%; 
}
  
/*Icono de Upload File*/
.custom-file-upload {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 15px;
    background-color: #002B5B; 
    color: white; 
    border-radius: 25px; 
    cursor: pointer; 
    width: 100%; 
    max-width: 400px; 
    height: auto; 
    margin: 0 auto; 
}

.upload-icon {
    width: 100%; 
    object-fit: contain;
}

.custom-file-upload:hover {
    background-color: #002B5B;
}

/* Ocupa todo el ancho del grid para textarea */
textarea {
    width: 100%;
    height: 100px;
    resize: none;
}

.terms-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 15px; 
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.terms {
    display: flex;
    /* flex-direction: column;
    align-items: center; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-top: 15px; */
    margin-bottom: 10px;

}

.term-condi-cb{
    justify-content: start;
    margin-bottom: 10px;
}

.term-condi-cb label{
    justify-content: start;
    text-align: start !important;
}

.terms ul{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 0px;
}

.terms input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.terms label {
    margin-right: 15px;
    font-size: 12px;
}

#terms-label, #privacy-label{
    font-size: 15px !important;
}  

#terms-label span, #privacy-label span{
    font-weight: bold;
}   


#public {
    /* background-color: #FFB82B; 
    color: white;
    padding: 8px 16px;
    text-align: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Tw-Cen-MT', sans-serif;
    font-size: 14px;
   margin: 20px auto;
    width: 30%; 
    display: block; */
    width: 240px;
    height: 45px;
    background-color: #E08F0C; 
    color: white;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 24px;
    margin-top: 20px; 
    margin: 10px auto 0;
    display: block; 
    box-shadow: 0px 2px 3px black;
    font-weight: bold;
}

#public:hover:not([disabled]){
    scale: 1.1;
    transition: 0.2s;
}

#public:disabled{
    cursor: auto;
}

/* Sección de vista previa */
.preview-section {
    width: 40%;
    gap: 20px;
    padding: 20px;
    background-color:  #002B5B; 
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    height: max-content; 
    color:#ffffff;
    align-self: flex-start;
}

.preview-section img {
    max-width: 100%;
}

.preview-section ul {
    list-style: none;
    color: #ffffff;
    padding: 0;
}
.preview-section h3 {
    color: #FFB82B;
   
}
.preview-section p {
    color: #FFB82B;
    font-size: 14px;
}
.swal2-styled{
width: 67px ;
}

#list-preview li{
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: start;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{ 
    -webkit-box-shadow: 0 0 0 30px #002044 inset !important;
    -webkit-text-fill-color: white !important;
}

/* .war-tooltip{
    font-size: 10px;
} */

@media (max-width: 1310px) {
    main {
        /* flex-direction: column; */
        flex-wrap: wrap;
        /* padding: 10px; */
        align-items: start; /*cambio*/
        justify-content: center;/*cambio*/
    }

    .form-section{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* margin-bottom: 20px; */
        max-width: 500px; 
        margin: 0 auto; 
        margin-right: 0px;
        align-items: center;/*cambio*/
    }

    .preview-section {
        width: 40%;
        max-width: 500px; 
        margin: 0 auto;/*cambio*/
        margin-left: 0px;
        margin-bottom: 20px;
        align-items: center;/*cambio*/
    }
    .pares{
        align-items: center;
        margin: 20px 0;
        width: 100%;
        display: block;
    }
    .form-group {
        display:flex;
        flex-direction: column;
        /* justify-content: flex-start; */
         width: 100%; 
        align-items: center; 
        margin-bottom: 20px;
    }

    #formulario label {
        /* align-items: center; 
        padding: 10px 0;*/
        width: 100%; 
        text-align: center;
    }

    .drescripcion label{
        margin-bottom: 5px;
    }

    #image{
        padding-left: 0px;
    }

    input[type="text"], input[type="number"], input[type="tel"], textarea {
        margin-bottom: 10px;
        width: 100%; 
        padding: 10px;
        border-color: #7b7b7b;
    }

    .custom-file-upload {
        width: 100%; 
        text-align: center; 
        margin-bottom: 20px;
    }

    /* #public {
        width: 100%; 
    } */

    .icon {
        width: auto; 
        margin-right: 10px; 
    }

    .preview-section {
        order: 2; 
        width: 100%;
    }

   
    .preview-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .form-container, .preview-container {
        width: 100%;
        padding: 0;
        overflow: hidden; /* Evita que el contenido se salga */
    }
}

@media(max-width:1100px){
    .form-section{
        margin-left: auto;
        margin-right: auto;
    }

    .preview-section {
        margin-left: auto;
        margin-right: auto;
    }
}