/* PARTE IZQUIERDA */
.columPic {
    background-image: url("https://res.cloudinary.com/duxbrimwv/image/upload/v1727818419/coches_signIn_jxhc5d.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* DERECHA */
.columForm{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D0CECE;
}

.cajaForm {
    background-color: #002B5B;
    border-radius: 20px;       
    color: #ffffff;            
    font-family: 'Montserrat'; 
    font-size: 20px;           
    font-weight: 600;          
    width: 90%;   
    margin: 30px auto;    
    max-width: 100%;        
    padding: 70px 90px 20px 90px;
    box-shadow: 0px 8px 12px black;
}

.cajaForm h1{
    color: #FFCC00;
    text-align: center; 
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Poppins';
    font-weight: bold !important;
}


.cajaForm input {
    flex-grow: 1;
    border-radius: 8px;
    background: rgb(0, 32, 68);
    border-style: solid;
    border-width: 3px;
    height: 50px;
    width: 100%;
}

.itemForm{
    margin: 20px;
}


#btnSignIn{
    justify-content: center;
    color: #ffffff;
    background-color: #E08F0C;
    border-radius: 25px;
    padding: 7px;
    font-weight: bold;
    padding: 10px 6px;
    font-size: 25px;
    font-style: italic;
    margin-top: 30px;
}


.cajaForm input,textarea {
    color: white;
    font-family: 'Montserrat';
}
.cajaForm input, placeholder{
    font-size: 15px;
}
#birthdate{
    color: #888383b9;
}

/* Media Queries para hacer el diseño responsivo */
@media (max-width: 500px) {
    .columPic {
        display: none;
    }
    .cajaForm{
        margin: 150px 0px 150px 0px;
        width: 100%;
        padding: 70px 30px 20px 30px;

    }
    
}

