:root{
    --bg-color: #D0CECE;
    --bg-actions: #002B5B; 
    --bg-header: #002044;
    --orange: #E08F0C;
}

header{
    background-color: var(--bg-header);
    color: white;
}

header h1{
    font-family: "Poppins";
    font-size: 36px;
    font-weight: bolder;
   
}

header p{
    font-family: "Montserrat";
    font-size: 20px;
}

body{
    background-color: var(--bg-color);
}

#actions #find-auto{
    height: 442px;
    width: 427px;
    margin-left: auto; 
    margin-right: 10px;
}

#actions #sell-auto{
    height: 442px;
    width: 427px;
    margin-left: 10px; 
    margin-right: auto;
}

#actions figure{
    height: 300px;
    width: 400px;
    margin-bottom: 0px;
}

#find-auto figure{
    padding-top: 50px;
}

.auto{
    width: 80%;
    height: 100%;
}

.auto-key{
    width: 100%;
    height: 100%;
}

#actions .action-div{
    background-color: var(--bg-actions);
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 8px 12px black;
    z-index: 2;
}

#actions button{
    width: 362px;
    height: 73px;
    border-radius: 20px;
    background-color: var(--orange);
    font-size: 24px;
    color: white;
    font-weight: 900;
    -webkit-text-stroke: 1px black;
    font-family: "Poppins", sans-serif;
    box-shadow: 0px 2px 5px black;
    margin-bottom: 25px;
    margin-top: 0px;    
}

.action-btn-buy, .action-btn-sell{
    position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.action-btn-buy:hover, .action-btn-sell:hover{
    scale: 1.05;
    transition: 0.5s;
}

.action-btn-buy:hover::after, .action-btn-sell:hover::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    background-image: conic-gradient(from var(--angle),transparent 10%  ,red,yellow);
    border-radius: 20px;
    animation: 1s spin linear infinite;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}


#info #how-to-buy,#how-to-sell{
    background-color: var(--bg-actions);
    color: white;
    height: 465px;
    width: 388px;
    border-radius: 20px;
    box-shadow: 0px 8px 12px black;
    margin-bottom: 20px;
}

.how-to-buy-text h3{
    text-align: center;
} 

#how-to-buy figure{
    width: 100%;
    height: 100%;   
}

.client-frame img{
    object-fit: contain;
    height: 100px;
}   

#info #verify-car{
    background-color: var(--bg-actions);
    color: white;
    height: 465px;
    width: 509px;
    border-radius: 20px;
    box-shadow: 0px 8px 12px black;
    margin-bottom: 20px;
}

/* #how-to-buy figure{
    height: 208px;
    width: 244px;
} */

.verified h2{
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 0;
    -webkit-text-stroke: 1px black;
}

.verified img{
    height: 70px;
}

#verify-car .verified-auto{
    width: 100%;
    height: 141px;
}

.verified-auto img{
    width: 95%;
}

#verify-car p{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: bold;
    margin-top: 35px;
}


@media (max-width: 1000px){
    #actions #find-auto{
        margin-right: auto;
        margin-left: auto;
    }

    #actions #sell-auto{
        margin-left: auto;
        margin-left: auto;
    }
}