/* PARTE IZQUIERDA */
.columPic {
    background-image: url("./carros 1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
}

/* DERECHA */
.columForm{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D0CECE;
}

.cajaForm {
    background-color: #002B5B;
    border-radius: 20px;       
    color: #ffffff;            
    font-family: 'Montserrat'; 
    font-size: 20px;           
    font-weight: 600;          
    padding: 70px 30px 10px 30;
    width: 90%;   
    text-align: center; 
    margin: 30px auto;            
}

.cajaForm h1{
    color: #FFCC00;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Poppins';
    font-weight: bold !important; /**añadir font**/
    margin-top:70px;
    margin-bottom: 20px;
}


.cajaForm input {
    flex-grow: 1;
    border-radius: 8px;
    background: rgb(0, 32, 68);
    border-style: solid;
    border-width: 3px;
    height: 50px;
    width: 80%;
}

.itemForm{
    margin: 25px auto;
}

.itemForm label{
    margin-left: 95px;
}


#submit{
    justify-content: center;
    color: #ffffff;
    background-color: #E08F0C;
    border-radius: 25px;
    padding: 7px;
    font-weight: bold;
    padding: 10px 6px;
    font-size: 25px;
    font-style: italic;
    margin: 40px auto;
}/* cambió del color del botón */


.cajaForm input,textarea {
    color: white;
}
.cajaForm input, placeholder{
    font-size: 15px;
}

/* Media Queries para hacer el diseño responsivo */
@media (max-width: 768px) {
    /* Ocultar el banner en pantallas pequeñas */
    .columPic {
        display: none;
    }
}


