body{
    background-color: #D0CECE;
}
.nav-link.active {
  background-color: white;
  color: #002b5b !important;
  border-radius: 20px;
  /* padding: 4px 16px */
}

/* izquierda */
.barraLeft {
  background-color: #1e3263a8;
  text-align: center;
  color: white;
  
}

.barraLeft h2 {
  font-size: 16px;
  margin: 0px auto;
  font-family: "Montserrat";
  cursor: pointer;
}

#close {
  margin-top: 20px;
  display: inline;
}

.opcionesPerfil {
  margin: auto 0px;
}

.opcionesPerfil img {
  width: 20px;
  margin-bottom: 5px;
}

/* centro */
.cajaProfile{
    text-align: center;
    background-color: #002B5B;
    border-radius: 20px;
    padding: 20px 30px 20px 30px;
    color: #ffffff;
    font-family: 'Monserrat';
    font-size: 20px;
    margin: 40px;
}
.cajaProfile h1{
    color: #FFCC00;
    text-align: center;
    font-family: 'Poppins';
    font-weight: bold !important;
    font-size: 28px;
}

.cajaProfile img{
    margin-bottom: 40px;
}

.cajaProfileForm{
    background-color: #627997;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    color: black;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;
}

.infoCenter img{
    width: 250px;
    margin-top: 20px;
}

.cajaProfile input{
    flex-grow: 1; 
    border-radius: 20px;
    background: rgb(0, 32, 68);
    border-style: solid;
    border-width: 3px;
    height: 30px; 
}
.cajaProfile input, textarea{
    color: white;
}

.itemForm{
    padding: 10px;
    text-align: right;
}

.itemForm label{
    margin-right: 10px;
}

/* derecha */
.cochesRight{
    background-image: url(https://img.freepik.com/foto-gratis/coches-modernos-estacionados-calle-ciudad_127089-6530.jpg?size=626&ext=jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

@media (width<= 575px) {
  .opcionesPerfil {
    margin: 20px;
  }}
